.image{
    height: 300px;
    width: 300px;
    position: relative;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;

}
.container1{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image:hover{
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1.2;
    transition: .3s;
}
.h2{
    margin-top: 1.5rem;
    font-size: 2.5rem;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}