.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #184e77;
    /* height: 5vh; */
}
.div3{
    display: flex;
    align-items: center;
    /* width: 50%; */
    /* justify-content:  space-between; */

    
}
.div3 a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    background: none;
    font-weight: bold;
}
.div3 a:hover{
    color: #caf0f8;
    text-shadow: white;
    font-weight: bolder;
   
    
}
 .lists:hover{
    border-bottom: 2px solid white;
    font-weight: bold;
    color:white;
    transition: 0.1s;
}
.div2 h3{
   margin-left: 1rem;
    color: white;
}
.dropdown_list{
    position: absolute;
    top: 5.5%;
    right: 2.8%;
    background-color: #184e77;
    /* display: flex;
    flex-direction: column; */
    z-index: 100;
    list-style: none;
    padding-right: 2rem;
}
.active{
    color: white;
    padding-bottom: .25rem;
    border-bottom: 2px solid white;
}
.links{
    
}